@import 'const';
.static-navigation {
  z-index: 99;
  width: 100%;
  position: fixed;
  background-color: $s-bg-primary;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba($s-text-primary, 0.2);
  .sn-btn {
    position: absolute;
    left: 0;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    .sn-btn-item {
      background-color: $s-text-primary;
      height: 5px;
      width: 40px;
      border-radius: 5px;
      &.top {
      }
      &.middle {
        margin: 5px 0;
      }
      &.bottom {
      }
    }
  }
  .sn-brand {
    font-weight: bold;
    color: $s-text-secondary;
    &:hover {
      color: $s-text-primary;
    }
  }
  .sn-login {
    position: absolute;
    right: 30px;
    color: $s-text-secondary;
    font-weight: bold;
    &:hover {
      color: $s-text-primary;
    }
    @media (max-width: 550px) {
      right: 10px;
    }
  }
  .static-navigation-drawer {
    overflow: visible !important;
    position: absolute;
    top: 0;
    left: 0;
    &.active {
      .static-navication-space {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 50px);
        background-color: rgba($s-text-primary, 0.3);
        z-index: -2;
      }
    }

    .static-navigation-c {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: scroll;
      position: absolute;
      background-color: $s-bg-primary;
      height: calc(100vh - 50px);
      width: 250px;
      top: 50px;
      left: -270px;
      transition: ease-in-out 0.2s;
      box-shadow: 5px 5px 5px 0 rgba($s-text-primary, 0.2);
      &.active {
        left: 0px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        list-style: none;
        position: relative;
        z-index: 20;
        &.static-navigation-list {
          li {
            a {
              text-align: left;
              width: 200px;
              display: block;
              margin-bottom: 10px;
              background-color: $s-bg-third;
              padding: 10px;
              padding-left: 30px;
              border-top-right-radius: 40px;
              border-bottom-right-radius: 40px;
              color: $s-text-primary;
              transition: ease-in-out 0.1s;
              &:hover {
                box-shadow: 0 5px 10px 0 rgba($s-text-primary, 0.2);
              }
              &.active {
                width: 225px;
                color: $s-primary;
                box-shadow: 0 5px 10px 0 rgba($s-primary, 0.2);
                &:hover {
                  color: $s-secondary;
                  box-shadow: 0 5px 10px 0 rgba($s-secondary, 0.2);
                }
              }
            }
          }
        }
        &.static-navigation-footer {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 50px;
          li {
            a {
              //width: auto;
              //background: transparent;
            }
          }
        }
      }
    }
  }
}
