<% provide(:title, "About") %>
<div class="main-page-bk">
  <div class="page text-center">
   <!-- static-navigation -->
    <!--landing-header-->
    <%= render :partial => "shared/static/landing-page/header" %>
  </div>
  <section id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 style="color: black;">Vizho͞oəls</h2>
                      <hr class="star-primary">
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <div class="well">
                          <p style="color: dimgray;"><font size="4"></font>
                            VIZHO͞OƏLS is a technology company that makes it easy to have visuals
                            to compliment your menu. Our goal is to update the customer menu interaction experience
                            by making it possible for restaurants to be able to create a visual extension of their menu.
                            We incorporate some other technologies( NFC and QR code ) into our process, these can be placed on menus
                            and customers can simply use their smartphone to scan either technology and your visual menu displays on the device.
                            Your visual menu is also available online and it can be integrated into your website.
                          </p>
                          <p style="color: dimgray;"><font size="4"></font>
                            Everyone has a smartphone-why not take advantage
                            of this to enhance your menu?
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  <%= render 'layouts/footer' %>
</div>
