<% provide(:title, "About") %>
<div class="main-page-bk">
  <div class="page text-center">
   <!-- static-navigation -->
    <!--landing-header-->
    <%= render :partial => "shared/static/landing-page/header" %>
  </div>
  <section id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 style="color: black;">Vizho͞oəls</h2>
                      <hr class="star-primary">
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <div class="well">
                          <p style="color: dimgray;"><font size="4"></font>
                            VIZHO͞OƏLS is a technology company that makes it easy to have visuals
                            to compliment your menu.
                            We do this by taking advantage of some current technologies, fusing them together
                            to empower our users with the ability to have control over a visual menu.
                             Our goal is to enhance the menu interaction experience,
                             by adding a visual extention of the menu.
                          </p>
                          <p style="color: dimgray;"><font size="4"></font>
                            Everyone has a smartphone-why not take advantage
                            of this to enhance your menu?
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  <%= render 'layouts/footer' %>
</div>
