<% provide(:title, "About") %>
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="https://goo.gl/jseZ2S" alt="...">
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="well well-large">

                        <p> <font size="4">I am currently a senior at Georgia Gwinnett College with plans of graduating in spring 2016. I major in Information Technology/Software Development. I moved to the U.S about 13 years ago with the dreams and hopes of experiencing what
                        i saw on TV about the american culture...fun times all day. It was false advertisement. Life here was not as advertised. So since i couldn't just turn around and go back i was forced to finish the rest of my education here. I enjoy
                        my Information Technology career path because its fun to build applications from scratch and see them work in live mode.</font></p>
                    </div>
    </section>

    <!-- About Section -->
    <section class="success" id="hobbies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hobbies</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-group">
                        <div class="well well-large">

                            <a class="list-group-item active">Click one and discover</a>
                            <a href="http://1drv.ms/1U2uyKy" class="list-group-item">MMA/Muay Thai</a>
                            <a href="http://1drv.ms/1MjZnwb" class="list-group-item">Gaming</a>
                            <a href="https://play.google.com/store/apps/details?id=com.chatinitiator.abunaw.automation" class="list-group-item">Chat initiator</a>
                        </div>

                    </div>

                    <div class="col-md-8">

                        <div class="vid">
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/AjZ0KbJcav0?list=PLNl_Uh70NJ5oeFU6XAJNDdv1_0a11eDp_" frameborder="0" allowfullscreen></iframe>

                        </div>
                        <!--./vid -->

                    </div>
                    <!--.col -->
                </div>

            </div>


        </div>
    </section>

    <!-- Contact Section -->
    <section id="interest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Interest</h2>
                    <hr class="star-primary">
                </div>
            </div>


            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                        <p>Watching Movies / Shows/ Documentary</p>
                    </div>

                </div>

            </div>


            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete</span>
                        <p>Reading</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete</span>
                        <p>Exercise /Sports</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                        <p>Outdoor Activity</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                        <p>Eating</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">500% Complete</span>
                        <p> Web Serfing</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70% Complete</span>
                        <p> Listen to classical music</p>
                    </div>

                </div>

            </div>

            <div class="col-md-8">
                <div class="vid">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/ea2WoUtbzuw" frameborder="0" allowfullscreen></iframe>
                </div>
                <!--./vid -->

            </div>
            <!--.col -->



    </section>


