<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://www.facebook.com/ose.abunaw"><em>facebook</em></a>
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application.
</p>