<% provide(:title, "About") %>
<div class="main-page-bk">
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: white;">About Vizhooəls</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="well">
                        <p style="color: dimgray;"><font size="4"></font>
                          Vizhooəls is meant to solve the problem of text heavy restuarant menu items by using NFC technology
                          to create a visual representation of the food served.
                        </p>
                    </div>
    </section>

    <!-- Contact Section -->
    <section id="interest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: white;">Benefits</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                        <p>Customer menu interactions</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70% Complete</span>
                        <p>Customer menu understanding</p>
                    </div>

                </div>

            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete</span>
                        <p>Increase in variaty of menu items ordered</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-8">
                <div class="vid">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/ea2WoUtbzuw" frameborder="0" allowfullscreen></iframe>
                </div>
                <!--./vid

            </div>
            <!--.col -->



    </section>
</div>
