<% provide(:title, "About") %>
<div class="main-page-bk">
  <div class="page text-center">
   <!-- static-navigation -->
    <!--landing-header-->
    <%= render :partial => "shared/static/landing-page/header" %>
  </div>
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: black;">Vizho͞oəls</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="well">
                        <p style="color: dimgray;"><font size="4"></font>
                          VIZHO͞OƏLS is a technology company that makes it easy to have visuals
                          to compliment your menu.
                          We do this by taking advantage of some current technologies, fusing them together
                          to empower our users with the ability to have control over a visual menu.
                           Our goal is to enhance the menu interaction experience,
                           by adding a visual extention of the menu.
                        </p>

                        <a href="http://www1.opendining.net/blog/are-food-images-really-important-on-your-online-menu">"Are food images really important on your menu?"</a>

                        <p style="color: dimgray;"><font size="4"></font>
                          Everyone has a smartphone-why not take advantage
                          of this to enhance your menu?
                        </p>
                    </div>
    </section>
     <!-- Features-->
     <section class="section novi-background section-66 section-collar">
       <div class="container"><img class="img-fluid" src="" width="1165" height="365" alt="">
         <h2 class="offset-top-10"><span class="big">Features Available</span></h2>
       </div>
       <div class="container-fluid offset-top-50">
         <div class="row">
           <div class="col-md-6 col-xxl-3">
                   <!-- Icon Box Type 2-->
                   <div class="unit unit-sm flex-md-row text-md-left">
                     <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-cellphone-link"></span></div>
                     <div class="unit-body">
                       <h4 class="font-weight-bold text-uppercase offset-md-top-14">Responsive &amp; Retina</h4>
                       <p>A visual menu looks the same on any screen resolution. A responsive and ultra sharp visual menu.</p>
                     </div>
                   </div>
           </div>
           <div class="col-md-6 col-xxl-3 offset-top-50 offset-md-top-0">
                   <!-- Icon Box Type 2-->
                   <div class="unit unit-sm flex-md-row text-md-left">
                     <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-television-guide"></span></div>
                     <div class="unit-body">
                       <h4 class="font-weight-bold text-uppercase offset-md-top-14">Accessibility</h4>
                       <p>A visual menu is accessible online as well as anywhere you decide to use
                          your synchronized NFC tag(s) / QR code.
                       </p>
                     </div>
                   </div>
           </div>
           <div class="col-md-6 col-xxl-3 offset-top-50 offset-xxl-top-0">
                   <!-- Icon Box Type 2-->
                   <div class="unit unit-sm flex-md-row text-md-left">
                     <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-play-box-outline"></span></div>
                     <div class="unit-body">
                       <h4 class="font-weight-bold text-uppercase offset-md-top-14">Interactive menu</h4>
                       <p>
                         <ul class="rd-navbar-nav">
                           <li>Customers can filter your visual menu.</li>
                           <li>Customers can search your visual menu for menu items.</li>
                           <li>Your visual menu is easy to update from any smart device.</li>
                           <li>Your visual menu is synchronized...updates show immediately online and anywhere your NFC tag / QR code
                             is available.
                           </li>
                           <li>
                             Customers can view updated menu items every time they interact with your visual menu.
                           </li>
                           <li>
                             Customers can share your visual menu.
                           </li>
                           <li>You can see what customers are looking at the most and pinpoint which menu item gets passed up often.</li>
                         </ul>
                       </p>
                     </div>
                   </div>
           </div>
         </div>
       </div>
     </section>

    <!--<section id="demo-section">
            <div class="container how-to-vid">
                <div class="row">
                  <h2 style="color: black;">Demo</h2>
                    <div>
                        <div class="well">
                          <section>
                            <div style="text-align: center; width: 100%;">
                              <div class="vid">
                                <iframe width="500" height="300" src="https://www.youtube.com/embed/WNQdzaVXClo" frameborder="0" allowfullscreen></iframe>
                              </div>
                            </div>
                          </section>
                        </div>
                  </div>
               </div>
        </div>
  </section>-->
  <%= render 'layouts/footer' %>
</div>
