<% provide(:title, "About") %>
<div class="main-page-bk">
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: black;">About Vizho͞oəls</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="well">
                        <p style="color: dimgray;"><font size="4"></font>
                          Vizho͞oəls is a simple web application that puts the power of control over a visual menu in the hands of the restaurants..the power to update
                          and change how to visually present the food on the menu.
                          The Vizho͞oəls platform uses NFC technology which gives centralize control to the restaurant, on menu update and presentation for an affordable price. Remember, “You eat first with your eyes.”
                        </p>

                        <a href="http://www1.opendining.net/blog/are-food-images-really-important-on-your-online-menu">"Are food images really important on your menu?"</a>
                    </div>
    </section>

    <!-- Contact Section -->
    <section id="interest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: black;">Benefits</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete</span>
                        <p>Visual element has such a powerful impact on food choice</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                        <span class="sr-only">95% Complete</span>
                        <p>Attract and retain customer interest</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete</span>
                        <p>Customer menu interactions</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                        <p>Customer menu understanding</p>
                    </div>

                </div>

            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete</span>
                        <p>Increase in variaty of menu items ordered</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        <span class="sr-only">30% Complete</span>
                        <p>Wrong customer orders</p>
                    </div>
                </div>
            </div>
    </section>

    <section id="demo-section">
            <div class="container how-to-vid">
                <div class="row">
                  <h2 style="color: black;">Demo</h2>
                    <div>
                        <div class="well">
                          <section>
                            <div style="text-align: center; width: 100%;">
                              <div class="vid">
                                <iframe width="500" height="300" src="https://www.youtube.com/embed/WfGillF-1p8" frameborder="0" allowfullscreen></iframe>
                              </div>
                            </div>
                          </section>
                        </div>
                  </div>
               </div>
        </div>
  </section>

  <section id="demo-section">
          <div class="container nfc-tags-pic">
              <div class="row">
                <h2 style="color: black;">Vizho͞oəls NFC Tags</h2>
                  <div>
                      <div class="well">
                        <section>
                          <div style="text-align: center; width: 100%;">
                            <div>
                              <%= image_tag('vizhooel-tags.jpg', width: 700, height: 350, alt: 'NFC Tags')%>
                            </div>
                          </div>
                        </section>
                      </div>
                </div>
             </div>
      </div>
</section>
</div>
