<% provide(:title, "Contact") %>
<div class="contact-page main-page-bk">
  <h1>Contact</h1>
  <p>
    <div class="media">
      <div class="center jumbotron" style="padding-top: 30px;">
        <h1 style="color:dimgray;">
          vizhooelmenu@gmail.com
        </h1>
      </div>
    </div>
    <br>
    <!--<a href="https://vizhooals.herokuapp.com">Vizhooals</a>.-->
  </p>
</div>
