<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="https://goo.gl/jseZ2S" alt="...">
                    </a>
                </div>
            </div>
            <br>
  <a href="https://vizhooals.herokuapp.com">VIZHOOALS</a>.
</p>
