<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Help Page
  <a href="https://www.facebook.com/ose.abunaw">for Fam-Post app.</a>
  <!--To get info on Post app, see the
  <a href="https://www.facebook.com/ose.abunaw"><em>facebook</em>
  </a>.-->
</p>