<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Help Page
  <a href="https://www.facebook.com/ose.abunaw">facebook</a>.
  To get help on this Posts and Comments app, see the
  <a href="https://www.facebook.com/ose.abunaw"><em>facebook</em>
  </a>.
</p>