<!--Adding a status feed to the Home page.-->
<% if logged_in? %>
  <div class="row main-page-bk">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Menu Items Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div style="padding-top: 30px;">
  <div class="center" style="padding-top: 30px;">
    <h1 style="color: white;">Visually extend your menu....</h1>

    <h2 style="color: gainsboro;">
      So customers can see a visual presentation of your food.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<% end %>
