<!--This is the page the user sees when they click the home button.-->
<!--Basically the create menu item page-->
<% if logged_in? %>
  <div>
<button onclick="toggleMicropostForm()">open form</button>
        <%= render 'shared/static/micropost-form/micropost_form' %>

  </div>
<% else %>
  <div class="center intro-page">
    <%= render :partial => "static_pages/main_landing_page" %>
  </div>
<% end %>
<%= render 'layouts/footer' %>


<script type="text/javascript">
function toggleMicropostForm() {
  document.getElementById('micropost-form')
  .classList.toggle('active')
}

</script>