@import 'const';
.landing-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  .la-content-c {
    max-width: 620px;
    background-color: $s-text-third;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 45px rgba($s-primary, 0.1);
    border: 1px solid $s-primary;
    &:hover {
      box-shadow: 0px 0px 45px rgba($s-secondary, 0.2);
      border-color: $s-secondary;
    }
    h2 {
      padding: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: $s-bg-primary;

      font-size: 1.2em;
      margin: 0;
      font-weight: bold;
      color: $s-text-primary;
      text-align: left;
    }
    p {
      margin: 0;
      color: $s-text-secondary;
      text-align: left;
      padding: 20px;
    }
    @media (max-width: 768px) {
      margin: 10px;
    }
  }
}
