@import 'const';
.landing-customer {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 450px;
    border-radius: 10px;
  }
  .lc-content-c {
    margin-left: 50px;
    height: 100%;
    background-color: $s-text-third;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: ease-in-out 0.2s;
    overflow: hidden;
    border-radius: 10px;
    max-width: 450px;
    border: 1px solid $s-primary;
    box-shadow: 0px 0px 45px rgba($s-primary, 0.1);

    &:hover {
      border-color: $s-secondary;
      box-shadow: 0px 0px 45px rgba($s-secondary, 0.2);
      .lc-btn {
        font-size: 1.2em;
        background-color: $s-secondary;
        color: $s-text-secondary;
        box-shadow: 0px 0px 45px rgba($s-secondary, 0.4);
      }
    }
    @media (max-width: 550px) {
      width: auto;
    }
    h2 {
      width: 100%;
      background-color: $s-bg-primary;
      font-size: 1.5em;
      padding: 20px;
      margin: 0;
      font-weight: bold;
      color: $s-text-primary;
      text-align: left;
      a {
        color: $s-secondary;
      }
    }
    p {
      color: $s-text-secondary;
      text-align: left;
      margin: 0;
      padding: 20px;
      a {
        color: $s-secondary;
      }
    }
    .lc-btn {
      width: 300px;
      height: 70px;
      line-height: 70px;
      font-size: 1em;
      background-color: $s-primary;
      border-top-right-radius: 10px;
      color: $s-text-third;
      transition: ease-in-out 0.1s;
      font-weight: bold;
      box-shadow: 0px 0px 45px rgba($s-primary, 0.2);
      &:hover {
        font-size: 1.4em;
      }
    }
  }
  @media (max-width: 960px) {
    padding: 50px 10px;
    flex-direction: column;
    img {
      width: 100%;
      margin-bottom: 50px;
    }
    .lc-content-c {
      margin: 0px;
    }
  }
}
