@import 'const';
.landing-header {
  position: relative;
  background: linear-gradient(
    90deg,
    $s-primary 0%,
    $s-secondary 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 800px;
  height: auto !important;
  overflow: visible !important;
  z-index: 0;
  @media (max-width: 680px) {
    padding-top: 50px;
    min-height: 600px;
    justify-content: flex-end;
    background: $s-text-third !important;
  }
  .lh-phone-c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: -1;
    .phone-cut {
      position: absolute;
      width: 670px;
      bottom: -500px;
      z-index: -1;
      @media (max-width: 680px) {
        display: none;
      }
    }
  }

  h1 {
    line-height: 1;
    padding-top: 20px;
    margin: 0;
    color: $s-text-primary;
    font-weight: bold;
    font-size: 3em;
    span {
      color: $s-secondary;
    }
    @media (max-width: 680px) {
      font-size: 2em;
    }
  }
  h3 {
    line-height: 1;
    padding: 0 10px;
    margin: 20px 0;
    max-width: 500px;
    color: $s-text-secondary;
    font-size: 1.5em !important;
  }
  .lh-fees {
    margin: 0;
    margin-top: 5px;
    color: $s-text-secondary;
  }
  .menu-example {
    margin-top: 80px;
    display: flex;
    position: relative;
    p {
      margin: 0;
      padding: 0;
      position: absolute;
      top: -40px;
      left: 20px;
      color: $s-text-primary;
      font-weight: bold;
    }
    .scroll-btn {
      cursor: pointer;
      position: absolute;
      width: 50px;
      height: 200px;
      color: $s-text-primary;
      z-index: 20;
      line-height: 200px;
      @media (max-width: 768px) {
        display: none;
      }
      &.left {
        left: -50px;
        background: linear-gradient(
          90deg,
          rgba($s-text-primary, 0.2) 0%,
          rgba($s-text-primary, 0) 100%
        );
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        &:after {
          content: '\21E6';
        }
      }
      &.right {
        right: -50px;
        background: linear-gradient(
          90deg,
          rgba($s-text-primary, 0) 0%,
          rgba($s-text-primary, 0.2) 100%
        );
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        &:after {
          content: '\21E8';
        }
      }
    }

    ul {
      list-style: none;
      width: 620px;
      overflow: hidden;
      overflow-x: scroll;
      display: flex;
      padding: 0;
      -ms-overflow-style: none; // IE 10+
      overflow: -moz-scrollbars-none; // Firefox
      -webkit-overflow-scrolling: touch;
      @media (max-width: 680px) {
        width: calc(100vw);
      }
      li {
        &:nth-last-child(1) {
          margin-right: 10px;
        }
        margin-left: 10px;
        img {
          border-radius: 5px;
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }
  #header-pricing {
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 240px;
    width: 600px;
    border-radius: 10px;
    background-color: $s-text-primary;
    transform: scale(0);
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 25px rgba($s-text-primary, 0.5);
    @media (max-width: 680px) {
      top: 50px;
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.hp-active {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    .hp-header {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: $s-text-secondary;
      h3 {
        color: $s-bg-primary;
        margin: 0;
      }
      .hp-close {
        background-color: transparent;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        div {
          position: absolute;
          width: 30px;
          height: 5px;
          background-color: $s-bg-primary;
          &:nth-of-type(1) {
            transform: rotate(45deg);
          }
          &:nth-of-type(2) {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .hp-card-c {
      flex: 1;
      margin: 0;
      width: calc(100% - 40px);
      padding: 0 30px;
      display: list-item;
      overflow: hidden;
      overflow-y: scroll;
      .hp-card {
        padding: 10px;
        &.highlight {
          text-align: left;
          p {
            background-color: $s-secondary;
            color: $s-text-primary;
            display: inline;
          }
        }
        p {
          margin: 0;
          text-align: left;
          font-size: 1.3em;
          color: $s-text-third;
          @media (max-width: 680px) {
            font-size: 1em;
          }
        }
      }
    }

    a {
      border-radius: 30px;
      margin: 20px 30px;
      width: calc(100% - 60px);
      height: 50px;
      background-color: $s-primary;
      box-shadow: 0px 0px 45px rgba($s-primary, 0.2);
      line-height: 50px;
      font-size: 24px;
      font-weight: bold;
      transition: ease-in-out 0.2s;
      &:hover {
        background-color: $s-secondary;
        color: $s-text-primary;
        box-shadow: 0px 0px 45px rgba($s-secondary, 0.2);
      }
    }
  }
}
