@import "const";
.landing-howitworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  h1 {
    padding: 0 20px;
    padding-bottom: 50px;
    font-size: 2em;
    margin: 0;
    color: $s-text-primary;
    font-weight: bold;
    span {
      color: $s-secondary;
    }
  }
  .lhiw-c {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .lhiw-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 10px;
      width: 300px;
      @media (max-width: 400px) {
        width: 90%;
      }
      img {
        width: 300px;
        height: 300px;
      }
      h3 {
        color: $s-text-primary;
        margin: 0;
        padding: 0;
      }
      p {
        display: block;
        max-width: 300px;
        text-align: center;
        color: $s-text-secondary;
      }
    }
  }
}
