@import 'const';
.landing-interactive-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 700px;
  padding: 50px 10px;
  background-color: $s-text-primary;
  // background-color: $s-text-secondary;
  @media (max-width: 750px) {
    flex-direction: column;
    height: auto;
  }
  .lim-tool {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    max-width: 310px;
    // background-color: $s-text-third;
    border-radius: 10px;
    padding-bottom: 10px;
    transition: ease-in-out 0.2s;
    @media (max-width: 750px) {
      margin: 0;
    }
    h2 {
      font-weight: bold;
      color: $s-text-third;
      margin: 0;
      transition: ease-in-out 0.2s;
      border-radius: 10px;
      text-align: left;
      padding: 10px;
      font-size: 1.2em;
    }
    .lim-tools-details {
      text-align: left;
      color: $s-bg-primary;
      margin: 0;
      padding: 10px;
      span {
        color: $s-secondary;
      }
    }
    .lim-demo {
      margin-top: 10px;
      width: 100%;
      padding: 20px;
      padding-bottom: 10px;
      background-color: $s-text-secondary;
      border-radius: 10px;
      transition: ease-in-out 0.2s;
      opacity: 0.6;
      // border: 1px solid $s-text-secondary;
      &:hover {
        // box-shadow: 0px 0px 45px rgba($s-bg-primary, 0.1);
        // border-color: rgba($s-secondary, 0.1);
        opacity: 1;
      }
      @media (max-width: 1024px) {
        opacity: 1 !important;
      }
      .lim-tools-demo {
        text-align: left;
        font-size: 1em;
        font-weight: bold;
        color: $s-bg-primary;
        margin-bottom: 10px;
      }
      button {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        border: 1px solid $s-bg-primary;
        border-radius: 40px;
        background-color: transparent;
        &:hover {
          border: 1px solid $s-secondary;
          background-color: $s-text-primary;
          span {
            color: $s-secondary;
          }
        }
        p {
          color: $s-bg-primary;
          font-size: 1em;
          margin: 0;
        }
        span {
          color: $s-text-secondary;
          text-align: right;
          font-size: 1em;
        }
      }
    }
  }
  .lim-menu-list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    @media (max-width: 750px) {
      margin: 0;
    }
    div {
      &.lim-hide-category,
      &.lim-hide-search {
        display: none;
      }
      &.lim-extra-category {
        .lim-description {
          display: block !important;
          text-align: left;
          color: $s-text-secondary;
          margin-left: 10px;
          max-width: 320px;
          font-size: 0.8125em;
          span {
            color: #fbb448;
            font-size: 0.8125em;
          }
        }
      }

      h3 {
        color: $s-text-third;
        font-size: 1.4em;
        text-align: left;
        margin: 10px;
        padding: 0;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-left: 10px;
          &:nth-child(1) {
            margin-right: 5px;
          }
          &:nth-child(2) {
            margin-left: 5px;
          }
          @media (max-width: 750px) {
            margin: 0 10px;
          }
          &.lim-img-hide-description {
            display: none;
          }
          &.lim-img-extra-description {
            margin: 5px;
            @media (max-width: 750px) {
              margin: 10px;
            }
            .lim-img-c {
              width: 310px;

              img {
                width: 100%;
              }
              .lim-img-details {
                display: block;
              }
            }
            .lim-img-description {
              display: block !important;
              text-align: left;
              color: $s-bg-primary;
              margin-top: 10px;
              max-width: 310px;
            }
          }
          .lim-img-c {
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 150px;
            border-radius: 5px;
            overflow: hidden;
            img {
              width: 100%;
            }
            .lim-img-details {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              background-color: rgba($s-secondary, 0.7);
              position: absolute;
              display: none;
              width: 100%;
              padding: 10px;
              p {
                line-height: 1.2;
                text-align: left;
                margin: 0;
                font-weight: bold;
                color: $s-text-third;
                font-size: 1.2em;
              }
            }
          }

          .lim-img-description {
            display: none;
          }
        }
      }
      .lim-description {
        display: none;
      }
    }
  }
}
