@import "const";
.ls-example {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  // border: 1px solid $s-bg-primary;
  max-width: 250px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: ease-in-out 0.2s;
  &:hover {
    border-color: rgba($s-primary, 0.1);
    opacity: 1;
    box-shadow: 0px 0px 45px rgba($s-primary, 0.1);
  }
  @media (max-width: 370px) {
    border: none !important;
    box-shadow: none !important;
  }
  .lse-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .lse-header-title {
      margin: 0;
      margin-bottom: 5px;
      color: $s-text-primary;
      font-weight: bold;
    }
    .lse-profile {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      a {
        img {
          border-radius: 5px;
          width: 50px;
          height: 50px;
        }
      }

      div {
        padding-left: 10px;
        p {
          color: $s-text-primary;
          font-size: 0.7em;
          margin: 0;
          text-align: left;
          line-height: 2;
        }
        a {
          p {
            color: $s-secondary;
            font-weight: bold;
          }
        }
      }
    }
    .lse-control {
      padding: 10px 0;
      padding-left: 15px;
      p {
        font-size: 0.7em;
        line-height: 1.5em;
        margin: 0;
        text-align: left;
        color: $s-text-secondary;
      }
    }
  }
  .lse-form {
    width: 100%;
    position: relative;
    button {
      outline: none;
      font-size: 1em;
      cursor: pointer;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 15px;
      border: 1px solid $s-text-secondary;
      border-radius: 40px;
      background-color: transparent;
      &:hover {
        border: 1px solid $third;
        background-color: $s-text-third;
        span {
          color: $third;
        }
      }
      &.se-error {
        border-color: $s-primary;
        span {
          color: $s-primary;
        }
      }
      &.se-save {
        border-color: $third;
        span {
          color: $third;
        }
      }
      p {
        color: $s-text-secondary;
        font-size: 1em;
        margin: 0;
      }
      span {
        height: 28px !important;
        line-height: 28px !important;
        color: $s-text-secondary;
        text-align: right;
        font-size: 1em;
      }
    }
  }
  .se-complete {
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba($s-text-primary, 0.3);
    &.se-complete-active {
      display: flex;
    }
    .se-img-c {
      border-radius: 5px;
      position: absolute;
      top: 25%;
      overflow: hidden;
      box-shadow: 0px 0px 45px rgba($third, 0.2);
      transition: ease-in-out 0.5s;
      .se-img {
        width: 100%;
      }
      .se-img-text {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 0 5px;
        background-color: rgba($third, 0.7);
        color: $secondary;
        p {
          font-weight: bold;
          line-height: 1.5;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}
