<section class='landing-customer'>
    <img src="/assets/menu-wall.png" alt="">
    <div class='lc-content-c'>
        <h2>A <span><a href="https://www.vizhooels.com/users/31" target="_blank">customers</a></span> view</h2>
        <p>
        Visuals have such a powerful impact on food choice, from if a customer
        should order to what they should order. Adding visuals of your menu
        items both attract and retain customer interest, and also help curb customer
        guess work and uncertainty with certain food items.
        </p>
    </div>
</section>