<section class='landing-box-container'>
    <div class='landing-box'>
        <img class='landing-container-img' src="/assets/menu-wall.png" alt="">
        <div class='landing-card landing-card-small has-border has-shadow'>
            <div class='landing-card-title'>
                <h3>A <span><a href="https://www.avisualmenu.com/users/31" target="_blank">CUSTOMERS</a></span> VIEW</h3>
            </div>
            <div class='landing-card-content'>
                <p>
                    Visuals have such a powerful impact on food choice, from if a customer
                    should order to what they should order. Adding visuals of your menu
                    items both attract and retain customer interest, and also help curb customer
                    guess work and uncertainty with certain food items.
                </p>
            </div>
        </div>
    </div>
</section>