<section class="landing-features" id="features">
  <h1>The <span>VIZHO͞OƏLS</span> Process</h1>
    <ul class='landing-features-item-list'>
    <li class='lfi-important'>
        <div class='landing-features-item'>
            <div class='lfi-header'>
                <%= image_tag("/assets/menu-icon.png", alt: "menu icon")%>
                <h3><span><a href="https://www.vizhooels.com/users/31" target="_blank">Visual</a></span> Menu</h3>
            </div>
            <p>A pre built menu template, waiting to be populated
              by visual menu items. You can add, delete, edit and categorize visuals of your food.
              The menu is interactive, real-time updatable, filterable, searchable and accessible.</p>
        </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/nfc-signal-chip.png", alt: "nfc signal chip")%>
                    <%= image_tag("/assets/qr-scan.png", alt: "qr code")%>
                    <h3>Accessibility</h3>
                </div>
                <p>
                    Your <span><a href="https://www.vizhooels.com/users/31" target="_blank">visual</a></span>
                    menu is paired with NFC / QR code technology.
                    Place these on menus or wherever you want customers to access the visual
                    extention of your menu. It is also
                    available online and can be integrated into your website.
                </p>
            </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/phone-scan-nfc.png", alt: "phone scan nfc")%>
                    <h3>Gadgets</h3>
                </div>
                <p>
                  A smartphone / smart device can be used to scan paired NFC / QR code technology and your
                  <span><a href="https://www.vizhooels.com/users/31" target="_blank">visual</a></span>
                  menu displays on the screen.
                  No app download required.
                </p>
            </div>
        </li>
    </ul>
</section>
