<section class="landing-features" id="features">
    <h2>THE <span>VIZHO͞OƏLS</span> Process</h2>
    <ul class='landing-features-item-list'>
    <li class='lfi-important'>
        <div class='landing-features-item'>
            <div class='lfi-header'>
                <%= image_tag("/assets/menu-icon.png", alt: "menu icon")%>
                <h3><span><a href="https://www.vizhooels.com/users/31" target="_blank">Visual</a></span> Menu</h3>
            </div>
            <p>A pre built menu template, waiting to be populated
              by visual menu items. You can add, delete, edit and categorize visuals of your food.
              The menu is interactive, real-time updatable, filterable, searchable and accessible.</p>
        </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                  <div style="float: left;">
                    <%= image_tag("/assets/nfc-signal-chip.png", alt: "nfc signal chip")%>
                  </div>  <div style="    margin-left: 20px;">
                    <%= image_tag("/assets/qr-scan.png", alt: "qr code")%> </div>
                    <h3>Accessibility</h3>
                </div>
                <p>
                    Your <span><a href="https://www.vizhooels.com/users/31" target="_blank">visual</a></span>
                    menu is available online, it can be integrated into your website and
                    it is also synchronized with NFC / QR code technology.
                    Place these on menus or wherever you want customers to access the visual
                    part of your menu.
                </p>
            </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/phone-scan-nfc.png", alt: "phone scan nfc")%>
                    <h3>Gadgets</h3>
                </div>
                <p>
                  A smartphone / smart device can be used to scan synchronized NFC / QR code technology and your
                  <span><a href="https://www.vizhooels.com/users/31" target="_blank">visual</a></span>
                  menu displays on the device.
                  No app download required.
                </p>
            </div>
        </li>
    </ul>
</section>
