<section class="landing-features" id="features">
    <h2>What <span>VIZHO͞OƏLS</span> can offer you</h2>
    <ul class='landing-features-item-list'>
    <li class='lfi-important'>
        <div class='landing-features-item'>
            <div class='lfi-header'>
                <%= image_tag("/assets/menu-icon.png", alt: "menu icon")%>
                <h3><span><a href="https://www.vizhooels.com/users/31" target="_blank">vizho͞oəl</a></span> menu</h3>
            </div>
            <p>A fully interactive, real-time updatable, filterable, searchable, synchronized visual menu.</p>
        </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/nfc-signal-chip.png", alt: "nfc signal chip")%>
                    <h3>NFC Technology</h3>
                </div>
                <p>Near Field Communication, a short-range wireless technology that enables simple and secure communication between electronic devices is synchronized with your
                <span><a href="https://www.vizhooels.com/users/31" target="_blank">vizho͞oəl</a></span>
                menu for easy access.
                </p>
            </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/phone-scan-nfc.png", alt: "phone scan nfc")%>
                    <h3>Smartphone / Device</h3>
                </div>
                <p>A smartphone with NFC scan technology can be used to scan synchronized NFC technology to access your
                <span><a href="https://www.vizhooels.com/users/31" target="_blank">vizho͞oəl</a></span>
                menu
                </p>
            </div>
        </li>
    </ul>
</section>
