<section class="landing-features" id="features">
    <h2>What <span>VIZHO͞OƏLS</span> can offer you</h2>
    <ul class='landing-features-item-list'>
    <li class='lfi-important'>
        <div class='landing-features-item'>
            <div class='lfi-header'>
                <%= image_tag("/assets/menu-icon.png", alt: "menu icon")%>
                <h3><span><a href="https://www.vizhooels.com/users/31" target="_blank">vizho͞oəl</a></span> menu</h3>
            </div>
            <p>A pre built visual menu template, waiting to be populated
              by visual menu items. You can add, delete, edit and categorize
              menu items. This menu is fully interactive, real-time updatable, filterable, searchable and accessible.</p>
        </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                  <div style="float: left;">
                    <%= image_tag("/assets/nfc-signal-chip.png", alt: "nfc signal chip")%>
                  </div>  <div style="    margin-left: 20px;">
                    <%= image_tag("/assets/qr-scan.png", alt: "qr code")%> </div>
                    <h3>Accessibility</h3>
                </div>
                <p>
                  Your visual menu is available online at your vizho͞oəls URL and
                  is also made available wherever needed because
                  it is synchronized with NFC / QR code technology.
                  Place these on menus or wherever you want customers to access your visual menu.
                  Customers can simply use thier smartphone to scan either technology to access your
                <span><a href="https://www.vizhooels.com/users/31" target="_blank">vizho͞oəl</a></span>
                menu.
                </p>
            </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/phone-scan-nfc.png", alt: "phone scan nfc")%>
                    <h3>Smartphone / Device</h3>
                </div>
                <p>Everyone has a smartphone-why not take advantage of this to enhance your menu?
                  A smartphone can be used to scan synchronized NFC / QR code technology to access your
                <span><a href="https://www.vizhooels.com/users/31" target="_blank">vizho͞oəl</a></span>
                menu.
                </p>
            </div>
        </li>
    </ul>
</section>
