<section class="landing-features" id="features">
  <h1>THE <span>VIZHO͞OƏLS</span> PROCESS</h1>
    <ul class='landing-features-item-list'>
    <li class='lfi-important'>
        <div class='landing-features-item'>
            <div class='lfi-header'>
                <%= image_tag("/assets/menu-icon.png", alt: "menu icon")%>
                <h3><span><a href="https://www.vizhooels.com/users/31" target="_blank">VISUAL</a></span> MENU</h3>
            </div>
            <p>Using our simple interface you can add, delete, edit and categorize visual menu items.
              The entire process can be done entirely with a smartphone.
              The <span><a href="https://www.vizhooels.com/users/31" target="_blank">visual</a></span> menu is interactive, real-time updatable, filterable, searchable and accessible.</p>
        </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/nfc-signal-chip.png", alt: "nfc signal chip")%>
                    <%= image_tag("/assets/qr-scan.png", alt: "qr code")%>
                    <h3>ACCESSIBILITY</h3>
                </div>
                <p>
                    We integrate NFC and QR Code technology to let customers quickly and easily
                    pull up your visual menu on their cell phone while at your restaurant.
                    It’s easy to include a link to your menu on your website. This can be done in place of your normal online menu
                    or as a complement to it.
                </p>
            </div>
        </li>
        <li>
            <div class='landing-features-item'>
                <div class='lfi-header'>
                    <%= image_tag("/assets/phone-scan-nfc.png", alt: "phone scan nfc")%>
                    <h3>GADGETS</h3>
                </div>
                <p>
                  Our process makes loading your visual menu incredibly simple. Your online visual menu becomes an instant extension of your physical menu.
                  All a customer needs is a smartphone to scan either technology and your visual menu will appear in their phone’s browser. No app download needed.
                </p>
            </div>
        </li>
    </ul>
</section>
