<div id="footer" class='landing-footer'>
    <ul>
        <li><a href="mailto:abunawose@vizhooels.com,arslan.abdallah@vizhooels.com">
        <img src="/assets/social/email-icon.png"></a></li>
        <li><a href="https://www.instagram.com/vizhooel_menu/" target="_blank">
        <img src="/assets/social/instagram.png"></a></li>
    </ul>
    <a href="https://www.vizhooels.com/users/31" target="_blank">
        <time datetime="2018-01-01">Click here to interact with a</time>
        <p><span>visual</span> menu</p>
    </a>
</div>