<div id='header-pricing' class=''>
    <div class='hp-header'>
        <h3>Pricing</h3>
        <button onclick="closeHeaderPricing()" class='hp-close'>
            <div></div>
            <div></div>
        </button>
    </div>
    <ul id='hp-cards' class='hp-card-c'>
        <li class='hp-card'>
            <p>Get access to a visual menu.</p>
        </li>
        <li class='hp-card'>
            <p>Update using any smart device.</p>
        </li>
        <li class='hp-card'>
            <p>Online access.</p>
        </li>
        <li class='hp-card'>
            <p>Synchronized NFC tag(s) or QR code access.</p>
        </li>
        <li class='hp-card'>
            <p>Customers can Search and filter the menu for better results.</p>
        </li>
        <li class='hp-card'>
            <p>A visual menu thats looks the same on any screen resolution.</p>
        </li>
    </ul>
    <a href='/signup'>$9.99/month <span style="font-size: 10px;">Try free for 14 days</span></a>
</div>

<script type="text/javascript">
    function closeHeaderPricing() {
        document.getElementById('header-pricing')
        .classList.remove('hp-active');
    }
</script>
