<!-- landing-header -->
<header class='landing-header' id="home">
    <div style="margin-bottom: 10px;" class="row">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <h1><span>VISUAL</span> MENU</h1>
    <h3>Enhance your menu with visuals.</h3>
    <div class='v-btn-c'>
        <button onclick="openHeaderPricing()" class="v-btn v-btn-dark v-btn-important">See Pricing</button>
    </div>
    <p class='lh-fees'>no hidden costs or fees</p>
    <div class='menu-example'>
        <div onclick="scrollHorizontal(-640)" class='scroll-btn left'></div>
        <p>Your visual menu items</p>
        <ul id='_menu_example'>
            <li><img src='/assets/landing/img_1.jpg' alt='sample' /></li>
            <li><img src='/assets/landing/img_6.jpg' alt='sample' /></li>
            <li><img src='/assets/landing/img_3.jpg' alt='sample' /></li>
            <li><img src='/assets/landing/img_2.jpg' alt='sample' /></li>
            <li><img src='/assets/landing/img_4.jpg' alt='sample' /></li>
            <li><img src='/assets/landing/img_5.jpg' alt='sample' /></li>

        </ul>
        <div onclick="scrollHorizontal(640)" class='scroll-btn right'></div>
    </div>
     <%= render :partial => "shared/static/landing-page/header_pricing" %>
    <div class='lh-phone-c'>
        <img class='phone-cut' src='/assets/phone-cut.svg' alt='phone-cut' />
    </div>
</header>
<script type="text/javascript">
    function scrollHorizontal(amount) {
        document.getElementById('_menu_example')
        .scrollBy({
            top: 0,
            left: amount,
            behavior: 'smooth'
        })
    }
    function openHeaderPricing() {
        document.getElementById('header-pricing')
        .classList.add('hp-active')
    }
</script>
