<div id='header-pricing' class=''>
    <div class='hp-header'>
        <h3>Pricing</h3>
        <button onclick="closeHeaderPricing()" class='hp-close'>
            <div></div>
            <div></div>
        </button>
    </div>
    <ul id='hp-cards' class='hp-card-c'>
        <li class='hp-card highlight'>
            <p>$9.99 per month</p>
        </li>
        <li class='hp-card highlight'>
            <p>NFC tag(s) - $1.00 per tag</p>
        </li>
        <li class='hp-card highlight'>
            <p>QR code - FREE</p>
        </li>
        <li class='hp-card'>
            <p>Get access to a visual menu.</p>
        </li>
        <li class='hp-card'>
            <p>Update using any smart device.</p>
        </li>
        <li class='hp-card'>
            <p>Available online and anywhere you place NFC or QR code technology.</p>
        </li>
        <li class='hp-card'>
            <p>Customers can search and filter the menu for better results.</p>
        </li>
        <li class='hp-card'>
            <p>A visual menu thats looks the same on any screen resolution.</p>
        </li>
    </ul>
    <a href='/signup'>14 days free trial</a>
</div>

<script type="text/javascript">
    function closeHeaderPricing() {
        document.getElementById('header-pricing')
        .classList.remove('hp-active');
    }
</script>
