<section id="service">
<ul>
</ul>
<div>
        <div class="container">
          <div class="row grid-group-md justify-content-between">
            <div class="col-lg-5 text-lg-left">
              <div class="offset-lg-top-30 wow fadeInRight">
                <h4 class="font-weight-bold">THE SERVICE</h4>
                <p>
                  While websites offer just a basic menu, we give our users
                  access to a <span><a href="https://vizhooels.herokuapp.com/users/31" target="_blank"><span style="color:#fbb448;">vizho͞oəl</span></a> menu</span>
                  that is ready to adapt to your daily needs, with full control over the presentation of your food.
                </p>
                <p>
                  Pairing our platform with NFC technology
                  allows for a fully synchronized and accessible visual menu.
                </p>
                <p>
                  Customers can simply use their NFC enabled smartphone( no app download needed ) to scan
                  the paired NFC technology and be greeted to beautiful images of your
                  <span><a href="https://vizhooels.herokuapp.com/users/31" target="_blank"><span style="color:#fbb448;">vizho͞oəl</span></a> menu.</span>
                </p>
                <div class="offset-top-30 offset-lg-top-55">
                  <%= link_to "Try for free", signup_path, class: "btn btn-primary btn-ellipse btn-anis-effect" %>
                </div>
              </div>
            </div>
            <div class="col-lg-6"><img style="margin-top: -60px;" class="img-fluid d-inline-block wow fadeInUp offset-lg-top--160" src="/assets/create-menu-item.png" width="617" height="599" alt=""></div>
          </div>
        </div>
      </section>