<div class='landing-howitworks'>
    <h1>How it works</h1>
    <div class='lhiw-c'>
        <div class='lhiw-item'>
            <img class='' src='/assets/vizhooels_create_account.svg' alt='howitworks-step1'>
            <h3>Step 1</h3>
            <p>Complete sign up process.</p>
        </div>
        <div class='lhiw-item'>
            <img class='' src='/assets/vizhooels_create_menu.svg' alt='howitworks-step1'>
            <h3>Step 2</h3>
            <p>Log into your account then click dashboard to start creating visual menu items.</p>
        </div>
        <div class='lhiw-item'>
            <img class='' src='/assets/vizhooels_your_menu.svg' alt='howitworks-step1'>
            <h3>Step 3</h3>
            <p>Click your visual menu button to see your menu.</p>
        </div>
    </div>
</div>
