<div class='landing-howitworks'>
    <div class='lhiw-item'>
        <img class='' src='/assets/vizhooels_create_account.svg' alt='howitworks-step1'>
        <h3>Step 1</h3>
        <p>lorem ipsum dolor sit amet</p>
    </div>
    <div class='lhiw-item'>
        <img class='' src='/assets/vizhooels_create_menu.svg' alt='howitworks-step1'>
        <h3>Step 2</h3>
        <p>lorem ipsum dolor sit amet</p>
    </div>
    <div class='lhiw-item'>
        <img class='' src='/assets/vizhooels_your_menu.svg' alt='howitworks-step1'>
        <h3>Step 3</h3>
        <p>lorem ipsum dolor sit amet</p>
    </div>
</div>