<span>
    <div class='lim-img-c'>
    <%= image_tag("#{src}", alt:"#{alt}") %>
        <div class='lim-img-details'>
            <p><%= name %></p>
            <p>$<%= price %></p>
        </div>
    </div>
    <p class='lim-img-description'>
        <%= yield %>
    </p>
</span>