<div class='landing-mockup'>
    <div class='mockup-container'>
        <h2>Lunch</h2>
        <div class='mockup-list'>
            <img src='/assets/landing/img_1.jpg'>
            <img src='/assets/landing/img_2.jpg'>
            <img src='/assets/landing/img_3.jpg'>
            <img src='/assets/landing/img_4.jpg'>
            <img src='/assets/landing/img_5.jpg'>
            <img src='/assets/landing/img_6.jpg'>
        </div>
        <h2>Dinner</h2>
        <div class='mockup-list'>
            <img src='/assets/landing/img_1.jpg'>
            <img src='/assets/landing/img_2.jpg'>
            <img src='/assets/landing/img_3.jpg'>
            <img src='/assets/landing/img_4.jpg'>
            <img src='/assets/landing/img_5.jpg'>
            <img src='/assets/landing/img_6.jpg'>
        </div>
    </div>
    <button class='action'>
        <span class='material-icons'>dashboard</span>
    </button>
</div>