<section class='landing-services' id="service">
<%= render :partial => "shared/static/landing-page/services_example" %>
<div class='ls-content-c'>
<h2 class='ls-title'>OUR SERVICE</h2>
<ul>
<li class='ls-info'>
    <p>
        Food visuals have such a powerful impact on food choice, yet online menus and
        physical menus are saturated with text description
        of menu items with little to no food images...forgetting
        the old adage "You eat first with your eyes."

    </p>

</li>
<li class='ls-info'>
    <p>
      So we created a platform built to be an easy to
      use visual menu.
      Your account is a simple visual menu, you can add,
      delete, edit and categorize visuals of your food, as you create your
      visual menu...using any smart device.
      <br><br>
      Pairing our platform with NFC / QR code technology
      allows for an accessible visual menu. We synchronize
      your visual menu with NFC / QR code technology. Place these on
      physical menus and customers can simply use their smart gadgets to scan
      the NFC / QR code technology and your visual menu displays.
    </p>
</li>
<li class='ls-info'>
    <p>
    Everyone has a smartphone-why not take advantage of technology to enhance your menu with visuals?
    </p>
</li>
</ul>
<%= link_to "Try free for 60 days", signup_path, class: "ls-btn" %>
</div>
<a class='ls-img-c' href="https://www.vizhooels.com/users/31" target="_blank">
    <img src='/assets/tall-menu.jpg' alt='create' />
</a>
</section>
