<section class='landing-services' id="service">
<%= render :partial => "shared/static/landing-page/services_example" %>
<div class='ls-content-c'>
<h2 class='ls-title'>OUR SERVICE</h2>
<ul>
<li class='ls-info'>
    <p>
      Our goal is to update the customer menu interaction experience by making it possible for
      restaurants to be able to create a visual extension of their menu.  We incorporate some other
      technologies( NFC and QR code ) into our process, these can be placed on menus and customers can
      simply use their smartphone to scan either technology and your visual menu appears on their screen.
    </p>
</li>
<li class='ls-info'>
    <p>
    Everyone has a smartphone-why not take advantage of technology to enhance your menu with visuals?
    </p>
</li>
</ul>
<%= link_to "Try free for 14 days", signup_path, class: "ls-btn" %>
</div>
<a class='ls-img-c' href="https://www.vizhooels.com/users/31" target="_blank">
    <img src='/assets/tall-menu.jpg' alt='create' />
</a>
</section>
