<section class='landing-services' id="service">
<%= render :partial => "shared/static/landing-page/services_example" %>
<div class='ls-content-c'>
<h2 class='ls-title'>OUR SERVICE</h2>
<ul>
<li class='ls-info'>
    <p>
        Have you ever gone to a restaurant, checked out the menu,
        and wandered just how your food would turn out? Well if you haven’t, we definitely have, and
        just like us, millions of others “feast with their eyes before they buy”,
        so we took a chance and created VIZHO͞OƏLS.

    </p>

</li>
<li class='ls-info'>
    <p>
      Our simple and easy to use platform creates a beautiful layout for your visual menu that’s visually appealing to your customers
      and easily customizable by you, the owner. You simply snap (or upload) a picture of the food item,
      enter descriptions, price, select a category, and there you go, it’s available on your website!
      <br><br>
      We didn’t think this was enough, so we decided to use NFC and QR code technology.
      We provide your restaurant with NFC tags / QR code that you can place anywhere you wish...like on
      menus.
      A customer can simply press the back of their phone to the NFC tag or scan the
      QR code and
      like magic, your visual menu appears on their screen so they may salivate at all the delicious options
      available, they may end up buying more just from being able to SEE what’s cookin’.
      You know that old timely saying, “a picture is worth a thousand words”, that’s a lot more than “Burger - beef patty, lettuce, tomato, bun”.
    </p>
</li>
<li class='ls-info'>
    <p>
    Everyone has a smartphone-why not take advantage of technology to enhance your menu with visuals?
    </p>
</li>
</ul>
<%= link_to "Try free for 14 days", signup_path, class: "ls-btn" %>
</div>
<a class='ls-img-c' href="https://www.vizhooels.com/users/31" target="_blank">
    <img src='/assets/tall-menu.jpg' alt='create' />
</a>
</section>
