<section class='landing-services' id="service">
<%= render :partial => "shared/static/landing-page/services_example" %>
<div class='ls-content-c'>
<h2 class='ls-title'>YOUR <span>VIZHO͞OƏL</span> SERVICES</h2>
<ul>
<li class='ls-info'>
    <p>
        While websites offer just a basic menu, we give our users
        access to a <span><a href="https://www.vizhooels.com/users/31" target="_blank"><span style="color:#fbb448;">vizho͞oəl</span></a> menu</span>
        that is ready to adapt to your daily needs, with full control over the presentation of your food.
    </p>
</li>
<li class='ls-info'>
    <p>
    Pairing our platform with NFC technology
    allows for a fully synchronized and accessible visual menu.
    </p>
</li>
<li class='ls-info'>
    <p>
    Customers can simply use their NFC enabled smartphone( no app download needed ) to scan
    the paired NFC technology and be greeted to beautiful images of your
    <span><a href="https://www.vizhooels.com/users/31" target="_blank"><span style="color:#fbb448;">vizho͞oəl</span></a> menu.</span>
    </p>
</li>
</ul>
<%= link_to "Try free for 60 days", signup_path, class: "ls-btn" %>
</div>
<a class='ls-img-c' href="https://www.vizhooels.com/users/31" target="_blank">
    <img src='/assets/tall-menu.jpg' alt='create' />
</a>
</section>
