<div id='user-dropdown' class='user-dropdown'>
    <label class='ud-action' onclick='toggleUserDropdown(this, "on")'>Settings</label>
    <ul>
        <!-- <li><button>Edit Profile longer</button></li>-->
        <li><%= link_to "Set profile picture", "https://en.gravatar.com/", target: :_blank %></li>
        <li><%= link_to "Edit profile", info_edit_path(:id => current_user.id), :method => "get" %></li>
        <hr>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
    </ul>
</div>

<script type='text/javascript'>
    function toggleUserDropdown(e, status) {
        e.parentElement.classList.toggle('active');
    }
</script>
