<div tabindex="1" onblur='deActiveUserDropdown(this)' id='user-dropdown' class='user-dropdown'>
    <button class='ud-action' onclick='toggleUserDropdown(this)' onblur='toggleUserDropdown(this)'>Settings</button> 
    <ul>
        <%# <li><button>Edit Profile longer</button></li>
        <li><button>Edit Profile</button></li>
        <hr> %>
        <li><button>Log Out</button></li>
    </ul>
</div>

<script type='text/javascript'>
    function toggleUserDropdown(e) {
        e.parentElement.classList.toggle('active')
    }
    function deActiveUserDropdown(e) {
        e.classList.remove('active')
    }
</script>