<!--Updating the rendering of user signup errors.-->
<% provide(:title, 'Sign up') %>
<div class="sign-up-page">

  <div class="well well-signup">
    <h1>Sign up</h1>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'shared/user_address_form' %>
      </div>
    </div>
  </div>
</div>
