<!--The status feed partial.-->
<div class="main-page-bk">
  <div style="padding-left: 500px; padding-top: 30px;">
    <%= link_to "GO BACK", @user %></span>
  </div>
  <% if @feed_items.any? %>
    <ol class="microposts">
      <%= render @feed_items %>
    </ol>
    <%= will_paginate @feed_items %>
  <% end %>
</div>
