<!--The menu feed partial on the home.html.erb file.-->
<!--Displays menu item(s).-->
<div class="menu-items-feeder-display">
  <% if @user.microposts.any? %>
    <!--<h3>Menu Items (<%= @user.microposts.count %>)</h3>-->
    <ol class="microposts">
      <%= render @microposts ||  @feed_items %>
    </ol>
    <%= will_paginate @microposts ||  @feed_items %>
  <% end %>
</div>
