<!--Displays icon on input.-->
<div class="form-component-btn-c fcb-icon-behind">
    <%# button_tag "search", :disabled => true, :class => 'material-icons category-search form-component-btn fcb-small', :name => nil %>
    <span class="material-icons form-component-btn fcb-small"><%= icon %></span>
</div>