<% @options.each do |key,value| %>
    <div class="ushow-list">
      <p><%= key %> OPTIONS</p>
    </div>
    <div class='ushow-list'>
      <ol class="microposts">
        <%= render value %>
      </ol>
    </div>
<% end %>
