<% @categories.each do |category| %>
    <div class="ushow-list">
      <p><%= category.category %> OPTIONS</p>
    </div>
    <div class='ushow-list'>
      <ol class="microposts">
        <%= render @options[category.category] %>
      </ol>
    </div>
<% end %>
