<% @categories.each do |cat| %>
    <div class="ushow-list">
      <p><%= cat.category %> OPTIONS</p>
    </div>
    <div class='ushow-list'>
      <ol class="microposts">
        <%= render @options[cat.category] %>
      </ol>
    </div>
<% end %>
