<%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>
  <%= hidden_field_tag :user_id, @user.id  %>
 <div style="position: relative;">
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Enter title", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "search", :class => 'material-icons btn-info category-search',:name =>  nil %>
    </div>
  </div>
</div>
<% end %>
