<!-- icon for static navgiation -->
<!-- VARIABLE DOES NOT PASS -->

<a href="mailto:<%= href %>">
    <img style="top: 10px;position: relative;"src="https://img.icons8.com/cotton/64/000000/secured-letter.png">
</a>
