

<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
<div class="menu-item-display">
  <li id="micropost-<%= micropost.id %>">
  <span class="content micropost-item" style="font-size: 20px;">
  <div class="mp-c">
    <img class="mp-image" src= "/assets/appetizer.jpg" alt="Image">
    <div class='mp-info'>
      <p class='mp-title'> <%= micropost.content %> </p>
      <!-- <p class="mp-description"> <%= micropost.description %> </p> -->
      <p class='mp-price'> <%= number_to_currency(micropost.price, :unit => "$")%> </p>
    </div>

  </div>
</span>
  </li>
</div>



