
<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
<li class="micropost" id="micropost-<%= micropost.id %>">
  <button class='micropost-action' onclick='openModal(this)'>
    <%= image_tag micropost.picture.url, class: "mp-image", id: "#{micropost.id}", alt: "#{micropost.description}", :data => {:title => micropost.content, :price => micropost.price, :description => micropost.description, :id => micropost.id} %>
  </button>
  <% if current_user?(micropost.user) %>
    <div class='micropost-settings'>
    <%= link_to micropost_edit_path(:micropost_id => micropost.id, :edit_clicked => true) do %>
    <span class='material-icons'>edit</span> Edit
    <%end%>
      <%= link_to(micropost, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-red') do %>

      <span class='material-icons'>delete</span> Delete
      <% end %>

    </div>
  <% end %>
</li>
<script type='text/javascript'>
  function openModal(props) {
    const {title, price, description, id} = props.querySelector('img').dataset
    document.getElementById('micropost-modal').classList.add('active')
    document.getElementById('micropost-modal').querySelector('.micropost-add-btn').id = id
    document.getElementById('mpm-image').src = props.children[0].src
    document.getElementById('mpm-title').textContent = title
    document.getElementById('mpm-price').textContent = price
    document.getElementById('mpm-description').textContent = description
  }
</script>
