<!--This is the page returned when user clicks a menu item-->
<div class="selected-menu-item-display" style="height: auto;">
  <div class="row">
    <%= render :partial => "shared/back_button" %>

    <div class="show-searched-item">
      <div class="row">

        <span class="content micropost-item" style="font-size: 20px;">
          <div class="well well-alt-show">
            <%= @micropost.content %> | <%= number_to_currency(@micropost.price, :unit => "$")%>

            

            <div class="well well-alt">
              <span class="content micropost-item">
                  <p class="description-section">
                    <%= @micropost.description %>
                  </p>
              </span>
            </div>
          </div>
        </span>

      </div>
    </div>
  </div>
</div>
