@import 'const';

.css-c {
  select {
    padding: 20px !important;
    color: $primary !important;
    background-color: transparent !important;
  }
}
.css-c > select {
  width: 259px;
  text-indent: 5px !important;

  border: 1px solid $border !important;
  text-align: center;
  border-radius: 40px !important;
  // padding: 0 10px !important;
  outline: none;
}
.css-c > select:hover,
.css-c > select:focus {
  border-color: $third !important;
  background-color: $third !important;
}
