@import 'const';
.margin-top {
  margin-top: 41px;
}
.no-margin-top {
  margin-top: 0;
}

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
}

.debug_dump {
  width: 100%;
  overflow: hidden;
}

.search-option,
.category-select {
  padding: 0 15px;
  margin: 0 15px;
  max-width: 500px;
}

#backToTopBtn {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: rgba($s-text-primary, 0.4);
  border: 1px solid rgba($s-text-primary, 0.4);
  border-radius: 100%;
}
