@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

.category-select {
  //top: 11px;
  left: 90px;
  width: auto;
  position: relative;
  select {
    background-color: #8ac5c3;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    cursor: pointer;
    border: none;
    height: 40px;
  }
}

.category-select-form {
  width: auto;
  position: relative;
  padding-bottom: 10px;

  select {
    background-color: #8ac5c3;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    cursor: pointer;
    border: none;
    height: 40px;
  }
}

.btn-info {
  color: #fff;
  background-color: dimgray;
  border-color: white;
  background: dimgray !important;
}

.well-alt {
  width: 100%;
  //margin-left: 60px;
  background-color: #8ac5c3;
  p {
    color: white !important;
    //font-size: 1.7142em;
    line-height: 1.286em;
    margin: 0.875em 0 0.2916em;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Georgia', sans-serif;
  }

  .description-section {
    margin-bottom: 10px;
  }
}

.well {
  margin-bottom: 0px;
}

.well-alt-main {
  width: 80%;
  margin-bottom: 25px;
  position: relative;
  top: 10px;
  p {
    color: white !important;
    position: relative;
    //left: -60px;
  }
}

.well-signup {
  width: 50%;
  left: 30%;
  position: relative;
  color: dimgray;
}

.well-login {
  width: 50%;
  left: 30%;
  position: relative;
  color: dimgray;
}

.category-search {
  padding: 8px 14px;
  top: -.5px;
}

.category-search-main-div {
  float: right;
}

.container {
  width: 100%;
}
/* universal */

body {
  padding-top: 60px;
  //background-image: image-url("body-bk-img.png");
  background-size: contain;
  //background-color: #939393;
  background-color: #ffffff;
}

.btn-primary {
  color: #fff;
  //background-color: #8ac5c3;
  border-color: dimgray;
  background: #8ac5c3 !important;
}

.category-show-title {
  h1 {
    color: dimgray;
    font-family: 'Raleway',sans-serif;
    font-size: 30px; font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

.main-page-bk {
  //background: lightslategray;
  //background-image: image-url("main-page-bk3.png");
  background: #edece8;
  color: dimgray;
  font-family: "Times New Roman", Georgia, serif;
  position: relative;
  margin: 10px;

  a {
    color: #8ac5c3;
  }
}

.intro-text {
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
  color: lightyellow;
  background-image: image-url("body-bk-img.png");
  background-size: cover;
  h2 {
    color: white;
    font-size: 30px;
  }
  div {
    margin: 30px;
    padding-bottom: 50%;
    position: relative;
    top: 50px;
  }
}

.sign-up-page {
  //color: #8ac5c3;
  color: lightyellow;
  background-image: image-url("body-bk-img.png");
  background-size: cover;
  padding: 30px;
  .row {
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.log-in-page {
  color: lightyellow;
  background-image: image-url("body-bk-img.png");
  background-size: cover;
  padding-bottom: 30px;
  .row {
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: #8ac5c3;
  }
}

.forgot-password-page {
  color: dimgray;
}

.navbar-inverse {
  opacity: 0.8;
}

.forgot-password-page {
  color: dimgray;
  a {
    color: #8ac5c3
  }
}

.contact-page {
  color: dimgray;
}

.menu-item-title {
  textarea {
    color: black;
    height: 40px;
  }
}

.menu-item-category {
  textarea {
    color: black;
    height: 40px;
  }
}

.menu-item-description {
  textarea {
    color: black;
    height: 100px;
    margin-top: 20px;
  }
}

#backToTopBtn {
  display: none;
  position: fixed;
  top: 74%;
  right: 90px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopBtn:hover {
  background-color: #555;
}

.your-vizhooel-button {
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.user-info-section {
  span {
    font-size: 20px;
  }
}

.micropost-item-show {
  img {
    width: 90%;
    height: auto;
  }
}

.micropost-item{
  img {
    width: 100%;
    height: auto;
  }
}

.back-btn {
  float: right;
  padding-top: 10px;
  margin-right: 30px;
  font-size: 18px;
}

.item-description-show {
  color: #333;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.show-searched-item {
  margin-left: 75px;
}

.micropost-show {
  margin-bottom: 20px;
  margin-left: 190px;
  text-align: left;
}

.user-home-page {
  float: right;
  h3 {
    position: relative;
    right: -20px;
  }
}

.home-icon-btn {
  float: right;
  padding-top: 14px;
  margin-right: 30px;
  font-size: 18px;
}

section {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  margin-top: 90px;
  //background-image: url("bk5.jpg");
  //background-size: cover;
}

footer a {
  color: #8ac5c3;
}

footer a:hover {
  text-decoration: underline;
  color: #8ac5c3;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 50px;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      margin-top: 10px;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 3px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.search-not-found {
  width: 100%;
  padding: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 20px;
    border-top: 1px solid #ffffff;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: black;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
