<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="containe navbar-links">
    <span>
      <%= link_to "viZHo͞oəls", root_path, id: "logo" %>
      <p style="font-size: 8px;position: relative;top: 25px;color: #FBB448;">feast with your eyes before you buy...</p>
    </span>
  </div>
</header>
