<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="containe navbar-links">
    <%= link_to "viZHo͞oəls", root_path, id: "logo" %>
    <nav>
      <div class="row">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;margin-top: 15px;">
          <div style="float: right;padding-right: 10px;">
            <li><p style="font-size: 12px;">feast with your eyes before you buy...</p></li>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</header>
