<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="row containe navbar-links">
    <span>
      <%= link_to index_path, method: :get, id: "logo" do %>
        <p style="padding-left: 20px;">VIZHo͞oəls</p>
        <p style="padding-left: 35px;position: fixed;font-size: 8px;top: 26px;color: #FBB448;">
          feast with your eyes before you buy...
        </p>
      <% end %>
    </span>
  </div>
</header>
