<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="row containe navbar-links">
    <span>
      <%= link_to index_path, method: :get, id: "logo" do %>
        <p style="padding-left: 25px;font-size: 8px;">Powered by</p>
        <p style="padding-left: 20px;position: fixed;font-size: 12px;top: 26px;color: #FBB448;">
          VIZHo͞oəls
        </p>
      <% end %>
    </span>
  </div>
</header>
