<footer class="footer" style="color: black;">
  <small>
      <p style="color: white;">Vizho͞oəls is a platform that uses NFC technology to allow restuarants to visually present the food on their menu.</p>
    <!--The <a href="http://www.railstutorial.org/"></a>
    by <a href="http://www.michaelhartl.com/"></a>-->
  </small>
  <nav>
    <ul>
      <li style="color: beige;"><%= link_to "About",   about_path,   style: 'color: beige' %></li>
      <li style="color: beige;"><%= link_to "Contact", contact_path, style: 'color: beige' %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>
