<footer class="footer">
  <small style="color: dimgray;">
      <p>Vizho͞oəls is a platform that uses NFC technology to allow our users to visually present the food on their menu.</p>
  </small>
  <nav>
    <ul>
      <!--<li><%= link_to "About",   about_path,   style: 'color: beige' %></li>-->
      <li><%= link_to "About",   about_path %>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
