<footer class="footer">
  <small style="color: dimgray;">
      <p>Vizho͞oəls is a platform that uses NFC technology to allow restuarants to visually present the food on their menu.</p>
    <!--The <a href="http://www.railstutorial.org/"></a>
    by <a href="http://www.michaelhartl.com/"></a>-->
  </small>
  <nav>
    <ul>
      <!--<li><%= link_to "About",   about_path,   style: 'color: beige' %></li>-->
      <li><%= link_to "About",   about_path %>
      <li><%= link_to "Contact", contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>
