<footer class="footer">
  <small>
    <p style="font-size: 0.8125em;">© 2019, VIZHO͞OƏLS. All Rights Reserved.</p>
  </small>
  <!--<nav>
    <ul>
      <!--<li><%= link_to "About",   about_path,   style: 'color: beige' %></li>
      <li><%= link_to "About",   about_path %>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>-->
</footer>
